#section1 {
  background-color: #d4eaf5;
  height: 100vh;
  .section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 100px;
    .left {
      width: 50%;
      padding-left: 100px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .text {
        position: absolute;
        display: flex;
        flex-direction: column;
        gap: 20px;
        h1 {
          font-size: 54px;
          font-weight: 200;
          display: flex;
          flex-direction: column;
          line-height: 54px;
          color: RGB(5, 44, 67);
          span {
            font-weight: 700;
          }
        }
      }
    }
    .right {
      width: 50%;
      height: 100%;
      //   background-image: url("../img/bg_2.jpg");
      //   z-index: 1;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

#section2 {
  .section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
    padding: 10px 0;
    .box {
      display: flex;
      padding: 20px;
      gap: 20px;
      flex-direction: column;
      width: 20%;
      i {
        padding: 15px;
        width: 48px;
        border-radius: 50%;
        color: white;
        font-size: 16px;
      }
    }
    .box1 {
      background-color: RGB(245, 235, 235);
      i {
        background-color: RGB(203, 150, 150);
      }
    }
    .box2 {
      background-color: RGB(220, 235, 221);
      i {
        background-color: RGB(139, 189, 142);
      }
    }
    .box3 {
      background-color: RGB(245, 239, 216);
      i {
        background-color: RGB(209, 181, 74);
      }
    }
    .box4 {
      background-color: RGB(244, 230, 216);
      i {
        background-color: RGB(210, 154, 97);
      }
    }
  }
}
@media screen and (max-width: 767px) {
  #section2 {
    .section2 {
      flex-direction: column;
      .box {
        width: 90%;
      }
    }
  }
}

#section3 {
  background-image: url("../img/bg_4.jpg");
  background-size: cover;
  .section3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    .left {
      width: 50%;
    }
    .right {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      width: 50%;
      padding: 15% 0;
      a {
        display: flex;
        align-items: center;
        gap: 30px;
        i {
          color: white;
          background-color: RGB(207, 117, 0);
          padding: 30px;
          border-radius: 50%;
        }
      }
    }
  }
}
#section4 {
  background-color: RGB(247, 247, 247);

  .section4 {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
    }
    .bottom {
      width: 100%;
      .boxs {
        display: flex;
        width: 100%;
        gap: 40px;
        padding-top: 20px;
        padding-bottom: 60px;
        .box {
          position: relative;
          width: 30%;
          border: 1px solid grey;
          padding: 30px 25px;
          gap: 15px;
          display: flex;
          flex-direction: column;
          z-index: 1;
          i {
            width: 40px;
            height: 40px;
            padding: 10px;
            border-radius: 50%;
            background-color: RGB(207, 117, 0);
            color: white;
            position: absolute;
            z-index: 99;
            left: 10px;
            top: -15px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .user {
            display: flex;
            gap: 20px;
            align-items: center;

            img {
              width: 70px;
              border-radius: 50%;
            }
          }
        }
        .box1 {
          background-color: RGB(207, 117, 0);
          p {
            color: white;
          }
          h6 {
            color: white;
          }
          i {
            background-color: white;
            color: RGB(207, 117, 0);
          }
        }
      }
    }
  }
}
#section5 {
  .section5 {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      flex-direction: column;
    }
    .bottom {
      width: 100%;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      .box {
        width: 45%;
        display: flex;
        .left {
          width: 50%;
          //   height: 300px;
        }
        .right {
          width: 50%;
          display: flex;
          flex-direction: column;
          padding: 30px;
          gap: 20px;
          background-color: #f8f9fa;
          .top {
            display: flex;
            flex-direction: column;
            .text {
              display: flex;
              gap: 5px;
              //   flex-direction: column;
              p {
                display: flex;
                gap: 3px;
              }
            }
          }
          a {
            h5 {
              color: black;
              font-size: 20px;
              font-weight: 500;
              &:hover {
                color: RGB(207, 117, 0);
              }
            }
          }
        }
      }
      .card1 {
        .left {
          background-image: url("../img/image_1.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .card2 {
        .left {
          background-image: url("../img/image_2.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .card3 {
        .left {
          background-image: url("../img/image_3.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .card4 {
        .left {
          background-image: url("../img/image_4.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
}
