p {
  font-size: 16px;
  color: RGBA(0, 0, 0, 0.4);
  line-height: 28.8px;
  font-weight: 400;
}
h4 {
  font-size: 18px;
  font-weight: 500;
  color: RGB(5, 44, 67);
}
h2 {
  font-size: 38px;
  color: RGB(5, 44, 67);
  font-weight: 500;
}
h6 {
  color: RGB(207, 117, 0);
  font-size: 16px;
  font-weight: 600;
}
